@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    background: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    color: white;
    
    h2 {
        margin-right: 20px;
    }

    a {
        margin-right: 10px;
    }
}

.content {
    display: flex;
}
#diagram {
    width: 80vw !important;
}
#explanation {
    width: 50vw;
    min-height: 100vw;
    padding-bottom: 15px;
    background-color: grey;
    color: white;
    padding: 20px

}